.item {
  align-items: center;
  padding-left: 15px;
  width: 430px;
  height: 250px;
  margin: 15px;
  background-color: lightblue;
  border: 3px solid white;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 20px -5px greenyellow;
  display: flex;

  &__img {
    height: 200px;
    border: black solid 1px;
    border-radius: 1000px;
  }

  &__info {
    margin-left: 25px;
    color: white;

    &--title {
      text-align: center;
    }

    &--list {
      text-decoration: none;
    }
  }
}
