.listContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  background-color: black;
  border: 5px solid greenyellow;
  margin-bottom: 0;
  padding-left: 0;
}

.errorMessage {
  color: red;
  text-align: center;
}
