.filterContainer {
  height: 50px;
  text-align: center;
  padding-top: 15px;
  font-size: 25px;

  &--label {
    color: greenyellow;
  }

  &--input {
    background-color: black;
    border-color: yellowgreen;
    cursor: pointer;
    vertical-align: middle;
    color: greenyellow;
    margin-left: 15px;
  }
}
