.filterContainer {
  background: greenyellow;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  font-size: 25px;

  &--input {
    text-align: center;
    background-color: black;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: white;
  }
}
